.Cart {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.Cart-Container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
